*.o
*.gmo
Makefile
Makefile.in
aclocal.m4
src/xournal
configure
stamp-h1
*.a
.deps
config.h
config.log
config.status
config.guess
config.sub
ar-lib
po/POTFILES
po/Makefile.in.in
*.cache
ltmain.sh
config.h.in
config.h.in~
depcomp
install-sh
missing
m4/*
INSTALL
libtool
ABOUT-NLS
config.rpath
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sin
intl/*
intltool-extract.in
intltool-merge.in
intltool-update.in
